:root {
	/*--s-xs: 375px;
	--s: 480px;
	--s-xl: 576px;
	--t-xs: 768px;
	--t-s: 800px;
	--t: 992px;
	--t-xl: 1024px;
	--d-xs: 1200px;
	--d: 1440px;
	--d-l: 1600px;
	--d-xl: 1920px;*/

	--screen-height: 100lvh;
	--screen-min-height: 667px;

	--wrapper-padding-x: 24px;
	/*--wrapper-padding-x-d-xs: 72px;*/

	--wrapper-padding-y: 32px;
	/*--wrapper-padding-y-s-xl: 48px;*/
	/*--wrapper-padding-y-t-xs: 64px;*/
	/*--wrapper-padding-y-d-xs: 96px;*/

	--header-size: 114px;

	--clip-path-top: polygon(0 0, 100% 0, 100% 0, 0 0);
	--clip-path-right: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	--clip-path-bottom: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	--clip-path-left: polygon(0 0, 0 0, 0 100%, 0% 100%);
	--clip-path-open: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

	--clip-path-square-close: polygon(0% 0%,
			0% 100%,
			0 100%,
			0 0,
			100% 0,
			100% 100%,
			0 100%,
			0 100%,
			100% 100%,
			100% 0%);
	--clip-path-square-open: polygon(0% 0%,
			0% 100%,
			50% 50%,
			50% 50%,
			50% 50%,
			50% 50%,
			50% 50%,
			0 100%,
			100% 100%,
			100% 0%);

	--color-transparent: #0000;
	--color-black: #000;
	--color-white: #fff;

	--color-primary-1: #FEFC52;
	--color-primary-2: #FDE047;
	--color-primary-3: #EAB308;
	--color-primary-4: #D97706;

	--color-text-dark: #000;
	--color-text-light: #fff;

	--color-blue: #3B82F6;
	--color-cyan: #06B6D4;
	--color-green: #22C55E;
	--color-red: #EF4444;
	--color-purple: #A855F7;
}
